@import "tailwindcss";
@import "tw-animate-css";

:root {
  --font-fredoka: var(--font-fredoka);
}

.font-fredoka {
  font-family: var(--font-fredoka);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 340px) {
  .navbar-xs-logo {
    width: 70px !important;
    height: 70px !important;
  }
  .navbar-xs-link {
    font-size: 1rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
  .navbar-xs-dropdown {
    width: 90vw !important;
    min-width: unset !important;
    padding: 1rem !important;
    right: 2vw !important;
  }
}
